@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      position: relative;
      margin: 0 auto;
      max-width: 320px;
      height: auto;
      padding: 40px;
      box-sizing: border-box;
      border: 4px solid #E9EEEE;
      border-radius: 10px;
    }

    .Register {
      padding: 60px 0;
    }
  
    .Register form {
      position: relative;
      margin: 0 auto;
      max-width: 320px;
      height: auto;
      padding: 40px;
      box-sizing: border-box;
      border: 4px solid #E9EEEE;
      border-radius: 10px;
    }
  }