version: 2.1
orbs:
  node: circleci/node@3.0.0
  heroku: circleci/heroku@1.2.3
workflows:
  main:
    jobs:
      - heroku/deploy-via-git:
          filters:
            branches:
              only: main